

.InfoWrap{
    box-shadow: 2dp;
}
.mangaimgTitle{
    float: left;
    max-height: 470px;
    max-width: 350px;

}
.Title_title{
    text-align: left;
}
h1{
    text-align: left;
    
    font-size: 30px;
}
h2{
    color: white;
}
.TitlePageData{
    padding-left: 10%;
    padding-right: 10%;
}
.Title_title{
    text-align: center;
}
.Japanese-title{
    border-bottom: #99aab5 solid 1px;
    text-align: left;
}
.status{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Type{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.UserScore{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Rank{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Volumes{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.DescriptionHead{
    padding-top: 0.6em;
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Description{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
    padding-bottom: 0.5em;
}
.BackgroundInfo{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Biinfo{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Genres{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Follows{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.ChapterlistTitle{
    text-align: left;
    border-bottom: #99aab5 solid 1px;
}
.Chapterist{
    border: #99aab5 solid 1px;
    text-align: center;
}
.ChapterlistItem{
    margin-top: 0.5em;
    border-bottom: #99aab5 solid 1px;
    list-style-type: none;
    text-align: left;
    max-width: 30%;
}

@media (max-width: 600px){
    .DescriptionHead{
        padding-top: none;
    }

}

@media (min-width: 1000){
    .TitlePageData{
        padding-left: 5em;
    }
}